<section class="Container UserSection">
<h2>設定</h2>
<div class="UserContainer">
  <ul class="SideNavigation">
    <li class="SideNavigation_item">
      <a href="/users/account">アカウント</a>
    </li>
    <li class="SideNavigation_item">
    <a href="/users/profile">プロフィール</a>
    </li>
  </ul>
</div>
</section>

