<%= render 'shared/account' %>

<h2>アカウント</h2>
<a class="AccountInfomation_link" href="/users/edit">
編集
</a>
<p><strong>メールアドレス:</strong> <%= @user.email %></p>
<p><strong>パスワード:</strong>  ******** </p>